@font-face {
        font-family: opensans;
        /* Имя шрифта */
        src: url(../fonts/opensans/opensans.ttf);
        /* Путь к файлу со шрифтом */
}
@font-face {
        font-family: opensansEB;
        /* Имя шрифта */
        src: url(../fonts/opensans/opensansExtrabold.ttf);
        /* Путь к файлу со шрифтом */
}
* {
  font-family:inherit;
}
body {
    font-family: opensans;
    margin: 0;

.lightGreyBg{
    background-color: #f6f2f2;
}
.fnt14{
    font-size: 14px;
}
.wrap {
    width: 100%;
    max-width: 1282px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    @media only screen and (min-width: 2500px) {
        max-width: 2500px;
    }

}
.clearfix:after {
    content: "";
    clear: both;
}
#svgSprite{
    display: none;
}
p{
    line-height: 30px;
    font-size: 16px;
}
    
    
}