header {
    width: 100%;
    position: relative;
    z-index: 1;
    .headerWrap {
        width: 100%;
        max-width: 1282px;
        margin: 0 auto;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
        height: 80px;
        @media only screen and (min-width: 640px) {
            height: 147px;
            padding-top: 29px;
            padding-bottom: 29px;
            padding-left: 16px;
            padding-right: 16px;
        }
        @media only screen and (min-width: 2500px) {
            max-width: 2500px;
        }
        .sticky-header {
            width: 100%;
            background-color: #313030;
            height: 50px;
            @media only screen and (min-width: 640px) {
                height: 89px;
            }
            .menuBtn {
                height: 100%;
                float: right;
                margin-right: 10px;
                @media only screen and (min-width: 640px) {
                    display: none;
                }
                .icon-menu {
                    cursor: pointer;
                    height: 50px;
                    width: 50px;
                    fill: white;
                    &:hover {
                        fill: #ff3f40;
                    }
                }
            }
            .menu {
                overflow: auto;
                @media only screen and (min-width: 0px) {
                    height: 100%;
                    width: 0;
                    top: 0;
                    left: 0;
                    position: fixed;
                    background-color: rgba(0, 0, 0, 0.5);
                    -webkit-transition: all 1s;
                    transition: all 0.3s;
                }
                @media only screen and (min-width: 640px) {
                    -webkit-transition: none;
                    transition: none;
                    position: static;
                    height: 100%;
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0);
                }
                ul {
                    height: 100%;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    @media only screen and (min-width: 0px) {
                        display: block;
                    }
                    @media only screen and (min-width: 640px) {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
                        -webkit-box-align: stretch;
                        -ms-flex-align: stretch;
                        align-items: stretch;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        -webkit-box-orient: horizontal;
                        -webkit-box-direction: normal;
                        -ms-flex-direction: row;
                        flex-direction: row;
                    }
                    li {
                        list-style: none;
                        a {
                            font-size: 14px;
                            white-space: nowrap;
                            height: 100%;
                            text-decoration: none;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -ms-flex-wrap: wrap;
                            flex-wrap: wrap;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            color: #e0e0e0;
                            @media only screen and (min-width: 0px) {
                                padding: 25px 24px;
                                width: 100%;
                            }
                            @media only screen and (min-width: 640px) {
                                padding: 0 24px;
                                width: auto;
                            }
                            &:hover {
                                background-color: #ff3f40;
                            }

                        }

                    }
                }
            }
        }
        .sticked {
            position: fixed;
            top: 0;
            height: 50px;
            width: 100%;
            max-width: 1250px;
            margin: 0 auto;
            @media only screen and (min-width: 640px) {
                height: 86px;
                width: calc(100% - 32px);
            }
            @media only screen and (min-width: 2500px) {
                max-width: 2500px;
            }
        }
    }
}